body {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
}
canvas {
    flex: 1;
}
.header {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.controls {
    display: flex;
    flex-direction: row;
}

.mode {
    display: flex;
    flex-direction: column;
}